/*
col_border:名稱;
border-style:邊框的形式;
border-width:邊框的寬度;
*/
/*body{
    height: 100%
    background-image: -webkit-linear-gradient(#00a99d,#0071bc);
    background: -o-linear-gradient(#00a99d,#0071bc);
    background: -moz-linear-gradient(#00a99d,#0071bc);
    background-repeat: no-repeat;
    background-attachment: fixed;
}*/
#backtotop{
    display:scroll;
    position:fixed;
    bottom:15px;
    right:25px;
}
.container{
    margin-top:100px;
}
.col_border{
    
}
.row{
    margin-bottom: 15px;
    //margin-left:0px;
}
#login{
    background-color:#cedddd;
    font-family:微軟正黑體;
    width:350px;
    margin-left:20px;
    //-webkit-box-shadow: #999 0px 1px 10px;/*陰影*/
    //-moz-box-shadow: #999 0px 1px 10px; /*陰影for Firefox*/
    //box-shadow: #999 0px 1px 10px; /*陰影for IE*/
    //-webkit-border-radius: 8px; /*圓角for Google Chrome、Safari*/
    //-moz-border-radius: 8px; /*圓角for Firefox*/
    //border-radius: 8px; /*圓角for IE*/
}
#loginbox{
    font-family:微軟正黑體;
    margin-bottom:8px;
    margin-top:8px;
}
.nav{
    background-color:white;/*置頂bar顏色*/
    height:80px;
    width:100%;
    position:fixed; /*固定位置定位*/
    top:0; /*距離上方 0 像素*/
    z-index:1; /*重疊時會在其他元素之上*/
    /* CSS3 陰影*/
    -webkit-box-shadow: 0px 3px 5px #999; /*陰影for Google Chrome、Safari*/
    -moz-box-shadow: 0px 3px 5px #999; /*陰影for Firefox*/
    box-shadow: 0px 3px 5px #999; /*陰影for IE*/
}
.logo{
    float:left;
    margin-top:10px;
    //margin-left:100px;/* new */
    margin-left:7%;/* new */
    //width:100px;
    //height:60px;
}
.logo img{
    width:80px;
}
#name{
    //background-color:rgba(0, 169, 157,0.3);
    float:right;
    font-size:18pt;
    padding:5px;
    margin-top:15px;
    margin-right:-25px;
} 
#name2{
    font-size:16pt;
    background-color:pink;
}
.navbar{
    //background-color:pink;
    float:right;
    margin-right:50px;
}
.menu li {
    display:inline;
    position:relative;
    cursor:pointer;
}
.menu li a {
    display:inline-block;
    text-decoration:none;
    //background-color:#666666;
    color: black;
    width:70px;/* button寬度 */
    padding: 5px 0px;/* button邊框 */
    margin-top:10px;/* new */
    text-align:center;
    font-family:微軟正黑體;
}
.menu li img{
    width:40px;
}
.menu2 {
    display:none;
    position:absolute;
    top:22px;
    left:-40px;
}
.menu2 li {
    display:block;
    line-height:24pt;
    margin-top:2px;
    margin-bottom:-2px;
}
.menu li:hover .menu2 {/*menu li hover會彈出menu2*/
    /*hover .menu中間要空格*/
    display:block;
} 
.menu a:hover{
    background-color:#d1cfcf;/*button hover*/
    color:white;/*文字hover*/
    -webkit-box-shadow: #333 0px 2px 3px;/*div陰影*/
}
.menu2 li a {
    display:inline-block;
    text-decoration:none;
    background-color:#666666;
    color: ivory;
    width:75px;
    text-align:center;
    //padding: 5px 5px 5px 5px;/*上右下左*/
    margin-top:1px;
}
#sidenav{
    position:fixed;
    //background-color:#FF00FF;
    width:15%;
    height:100%;
    margin-top:-20px;
    float:left;
}
#sidenav a{
    font-size:12pt;
    font-family:微軟正黑體;
    color:ivory;
    text-decoration:none;
}
#sidenavbt{
    background-color:rgba(0, 169, 157,0.7);
    padding:10px;
    text-align:center;
    width:60%;
    margin-top:50px;
    margin-left:18%;
}
#sidenavbt2{
    background-color:rgba(0, 113, 188,0.7);
    padding:8px;
    margin-top:50px;
    text-align:center;
    width:50%;
    margin-left:22%;
}
#catemenu a{
    color:white;
    font-size:11pt;
    text-decoration:none;
    font-family:微軟正黑體;
}
#sidenavbt3{
    background-color:#333;
    padding:3px;
    margin-right:8px;
    text-align:center;
    width:140px;
    height:45px;
    //margin-left:22%;
    float:left;
}
#sidenavbt32{
    background-color:#333;
    padding:10px 3px;
    margin-right:8px;
    text-align:center;
    width:140px;
    height:45px;
    font-size:13pt;
    //margin-left:22%;
    float:left;
}
#choose{
    //background-color:yellow;
    margin:0 auto;
    margin-top:30px;
}
.teach{
    //background-color:pink;
    float:left;
    margin-left:150px;
    //margin-left:15%;
}
.test{
    //background-color:red;
    float:left;
    margin-left:50px;
}
#choosebt{
    width:400px;
    text-align:center;
}
#choosebt a{
    width:400px;
    font-size:28pt;
    color:black;
    text-decoration:none;
}
#choosebt a:hover{
    -webkit-filter: grayscale(1);
}
#content{
    //background-color:yellowgreen;
    margin-left:0px;
    //margin-right:0px;
}
.teachall{
    //background-color:yellowgreen;
    height:480px;
    width:1200px;
    margin-top:30px;
}
.box1{
    background-color:rgba(0, 113, 188,0.7);
    width:300px;
    height:480px;
    float:left;
    //margin-left:100px;
    margin-left:8%;
    -webkit-box-shadow: #999 1px 3px 5px;/*陰影*/
    -moz-box-shadow: #999 1px 3px 5px; /*陰影for Firefox*/
    box-shadow: #999 1px 3px 5px; /*陰影for IE*/
}
.box2,.box3{
    background-color:rgba(0, 113, 188,0.7);
    width:300px;
    height:480px;
    float:left;
    //margin-left:40px;
    margin-left:4%;
    -webkit-box-shadow: #999 1px 3px 5px;/*陰影*/
    -moz-box-shadow: #999 1px 3px 5px; /*陰影for Firefox*/
    box-shadow: #999 1px 3px 5px; /*陰影for IE*/
}
#zonlun img{
    width:300px;
    height:220px;
}
#zonlun2{
    font-size:14pt;
    line-height:24pt;
    padding:10px;
    font-family:微軟正黑體;
    color:ivory;
}
.teapart{
    //background-color:gray;
    margin-bottom:50px;
}
#photo{
    //background-color:purple;
    //margin-left:0px;
    width:450px;
    float:left;
}
#photo img{
    width:400px;
}
#description{
    //background-color:red;
    width:450px;
    font-size:18pt;
    color:#3F3F40;
    font-family:微軟正黑體;
    //margin-left:0px;
    float:left;
}
#tea1,#tea2,#tea3,#tea4,#tea5,#tea6,#tea7{
    //margin-left:0px;
    //margin-right:0px;
    background-color:#cedddd;
    opacity:0.7;
    width:950px;
    //margin:0 auto;
    margin-left:9%;
    margin-bottom:15px;
    -webkit-box-shadow:1px 2px 5px #ccc;/*div陰影*/
    -moz-box-shadow:1px 2px 5px #ccc; /*陰影for Firefox*/
    box-shadow:1px 2px 5px #ccc; /*陰影for IE*/
}
#tea1:hover,#tea2:hover,#tea3:hover,#tea4:hover,#tea5:hover,#tea6:hover,#tea7:hover{opacity:1.0;}
.videopart{
    //background-color:yellow;
}
#videoall{
    //background-color:pink;
    margin-left:0px;
    margin-right:0px;
    width:950px;
    //width:85%;
    margin-left:9%;
}
#left{
    //background-color:green;
    margin-left:0px;
    margin-right:0px;
    //width:800px;
    width:83%;
    float:left;
}
#video{
    //margin-left:0px;
    width:95%;
}
.flip{
    background-color:#cedddd;
    width:95%;
    font-family:微軟正黑體;
    padding:10px 0px 10px 13px;
    margin-top:10px;
    font-size:16pt;
    cursor:pointer;

}
.info1{
    background-color:#cedddd;
    display: none;
    width:95%;
    font-family:微軟正黑體;
    padding:10px 0px 10px 13px;
}
.info2{
    background-color:#cedddd;
    width:95%;
    font-family:微軟正黑體;
    padding:10px 0px 10px 13px;
    margin-top:10px;
    cursor:pointer;
    /*-webkit-box-shadow:1px 1px 5px #ccc;div陰影*
    -moz-box-shadow:1px 1px 5px #ccc; /*陰影for Firefox*
    box-shadow:1px 1px 5px #ccc; /*陰影for IE*/
}
.info3{
    background-color:#cedddd;
    display: none;
    width:95%;
    font-family:微軟正黑體;
    padding:10px 0px 10px 13px;
}
.info2:hover, .info3:hover{
    //background-color:#d9d9d9;
}
#right{
    //background-color:tomato;
    margin-left:0px;
    margin-right:0px;
    width:150px;
    float:left;
}
#button{
    text-align:center;
    margin-bottom:30px;
}
#button img{
    width:80px;
}
#button a{
    font-size:15pt;
    font-family:微軟正黑體;
    text-decoration:none;
    color:black;
}
.infopart{
    //background-color:purple;
    //height:3450px;
}
.divh2{
    background-color:skyblue;
    width:150px;
    height:40px;
    margin-bottom:20px;
    font-size:16pt;
    color:ivory;
    padding:3px;
    text-align:center;
    font-family:微軟正黑體;
}
.stepcontent{
    //background-color:pink;
    width:950px;
    //height:2785px;
    //margin:0 auto;
    margin-left:9%;
    margin-bottom:30px;
}
#steps{
    //background-color:yellow;
    width:950px;
    height:90px;
    margin:0 auto;
}
#steps a{
    color:ivory;
    font-size:14pt;
    font-family:微軟正黑體;
    text-decoration:none;
}
#stepbt{
    background-color:rgba(0, 169, 157,0.7);
    width:120px;
    height:60px;
    float:left;
    margin-left:50px;
    //margin-left:5%;
    text-align:center;
    padding:18px 0px;
    -webkit-border-radius: 8px; /*圓角for Google Chrome、Safari*/
    -moz-border-radius: 8px; /*圓角for Firefox*/
    border-radius: 8px; /*圓角for IE*/
}
#part1,#part2,#part3,#part4,#part5{
    //background-color:#cedddd;
    margin-bottom:30px;
    height:430px;
    padding:5px 10px 5px 10px;
    line-height:30px;
    color:#3F3F40;
    font-family:微軟正黑體;
    font-size:12pt;
    //border-color:#aaaaee;
    border-color:#cedddd;
    border-width:7px;
    border-style:solid;
}
#part6{
    //background-color:#cedddd;
    margin-bottom:30px;
    height:440px;
    padding:5px 10px 5px 10px;
    line-height:26px;
    color:#3F3F40;
    font-family:微軟正黑體;
    font-size:11pt;
    //border-color:#aaaaee;
    border-color:#cedddd;
    border-width:7px;
    border-style:solid;
}
#picfloat{
    float:right;
}
#picfloat img{
    width:250px;
}
#growall{
    //background-color:pink;
    width:1200px;
    height:500px;
    //margin-left:70px;
}
.grow1{
    background-color:#ffffb3;
    width:200px;
    height:400px;
    float:left;
    margin-left:70px;
}
.grow2,.grow3,.grow4,.grow5{
    background-color:#ffffb3;
    width:200px;
    height:400px;
    float:left;
    margin-left:15px;
}
#growpic img{
    width:200px;
    height:200px;
}
#growdes{
    font-size:11pt;
    padding:6px;
    line-height:18pt;
    color:#3F3F40;
    font-family:微軟正黑體;
}
#growdes b{
    font-size:12pt;
}
.question{
    //background-color:#999;
    height:580px;
    width:1000px;
    margin-left:10%;
    /*background-image: -webkit-linear-gradient(rgba(0, 169, 157,0.1),rgba(0, 113, 188,0.8));
    //background-image: -webkit-linear-gradient(#00a99d,#0071bc);
    //background: -o-linear-gradient(#00a99d,#0071bc);
    //background: -moz-linear-gradient(#00a99d,#0071bc);
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-box-shadow: #999 0px 3px 5px;/*陰影*
    -moz-box-shadow: #999 0px 3px 5px; /*陰影for Firefox*
    box-shadow: #999 0px 3px 5px; /*陰影for IE*/
    background-image:url("images/testbackgroundf3-01.png");
}
/* .practice{
    float:left;
    background-color:yellow;
}
.pmenu li {
    display:inline;
    position:relative;
    cursor:pointer;
}
.pmenu li a {
    display:inline-block;
    text-decoration:none;
    //background-color:#666666;
    color: black;
    width:70px;/* button寬度 *
    padding: 5px 0px;/* button邊框 *
    margin-top:10px;/* new *
    text-align:center;
}
.pmenu li img{
    width:40px;
} */
#q{
    //background-color:tomato;
    height:80px;
    width:800px;
    margin-bottom:20px;
    //margin-left:330px;
    //float:right;
}
#qtable{
    //border: 3px solid black;
    height:100px;
    width:550px;
    //background-color:yellow;
    color:ivory;
    font-size:14pt;
    font-family:微軟正黑體;
}
#qtable td {
    //border: 1px solid black;
    padding-left:7px;
    //background-color:#999;
}
#opt{
    //background-color:skyblue;
    height:400px;
    width:800px;
    //float:right;
}
#opttable {
    //border: 3px solid black;
    //height:60px;
    width:550px;
    //background-color:pink;
    font-size:12pt;
    font-family:微軟正黑體;
}
#opttable tr {
    //border: 1px solid black;
    height:80px;
    //width:600px;
    //background-color:pink;
    padding:40px;
}
#opttable td {
    //border: 1px solid black;
    padding-left:20px;
    //background-color:#999;
}
#opttable td.tdfont{color:ivory;}
#wrong{
    //background-color:skyblue;
    height:400px;
    width:650px;
    overflow:auto;
}
#wrongtable{
    //border:3px solid black;
    //background-color:pink;
    //height:60px;
    width:600px;
    font-family:微軟正黑體;
}
#wrongtable td {
    //border: 1px solid black;
    padding-left:20px;
    //background-color:#999;
}
#exp{
    //background-color:pink;
    height:400px;
    width:650px;
    overflow:auto;
}
#exptable{
    //border:3px solid black;
    //height:60px;
    width:600px;
    font-size:12pt;
    color:ivory;
    font-family:微軟正黑體;
}
#exptable td{
    //border: 1px solid black;
    padding-left:30px;
    //background-color:#999;
}
#wq{
    //background-color:yellow;
    height:400px;
    width:650px;
    overflow:auto;
}
#wqtable{
    border:3px solid black;
    //height:60px;
    width:600px;
    //background-color:pink;
    font-size:12pt;
    color:ivory;
    font-family:微軟正黑體;
}
#wqtable td{
    border: 1px solid black;
    padding-left:20px;
    //background-color:#999;
}
.divh1{
    background:rgba(0, 113, 188,0.5);
    color:ivory;
    font-family:微軟正黑體;
    text-align:center;
    width:300px;
    height:60px;
    font-size:22pt;
    padding: 8px 0px;
    //margin:0 auto;
    margin-left:100px;
    margin-bottom:25px;
    -webkit-box-shadow: #999 1px 2px 10px;/*陰影*/
    -moz-box-shadow: #999 1px 2px 10px; /*陰影for Firefox*/
    box-shadow: #999 1px 2px 10px; /*陰影for IE*/
}
#div002{
    //background-color:yellow;
}
#div001{
    //background-color:skyblue;
    margin-left:150px;
    margin-top:50px;
}
.bottom{
    margin-bottom: 15px;
    text-align:center;
    font-family:微軟正黑體;
}
/*浮動Bar
#top-bar{
    width:100%;
    height:60px;
    background-color:lightgreen;
    position:fixed;
    top:-65px;
    /* CSS3 陰影*
    -webkit-box-shadow: 0px 8px 15px #333;
    -moz-box-shadow: 0px 8px 15px #333;
    box-shadow: 0px 8px 15px #333;
}
#top-bar li{
    display:inline;
    margin-top:5px;
}
#top-bar li a {
    display:inline-block;
    text-decoration:none;
    color: ivory;
    width:80px;
    margin-top:20px;
    margin-right:40px;
    float:right;
}*/